.example-component {
    background-color: #0749be;
}
.example-component-change {
    background-color: #141d29;

 transition:1s;
}
.Landing{
    height: 100vh;
}
.Landing_logo{
   font-size: 50px;
   position: absolute;
   top:50%;
   left:48vw;
   padding: 0;
   margin:0;
}
.Landing_logo-cir{
    position: absolute;
    top:50%;
    left:50vw;
    padding: 0;
    margin:0;
}