.Home{
}
.Home > div > h1,h3{
    margin:0;
 
}
.Home > div{
    display: flex;
    flex-direction: row;
    padding:15vw 10vw;
}   
.Home > div > header{
    width:50%;
    padding:5vw;
}
.Home>div>header>h3{
    color:#828282;
    font-family: "Roboto Condensed",sans-serif;
}
.Home > div > article{
    width:50%;
    padding:5vw;
    color :#828282;
    font-size: 1.2em;
    font-family: Rasa,sans-serif;
}
.Home_el-1{
  background-color:#1b1f25;
  color: white;
}
.Home_el-1 h1{
    -webkit-animation: fade-in-top 0.8s ease-in-out both;
    animation: fade-in-top 0.8s ease-in-out both;
}
.Home_el-2{
  color : #1b1f25;
}
.Home_el-2 > article >h2{
    color:#1b1f25;

}
.Home_el-2>article> ul>li{
list-style: none;
}
.Home_el-2>article> ul > li> span{
    color : #1b1f25;
    font-size: 1.5em;
    padding-right:1vw;
}

.Home_el-3{
    background-color:#f7f7f7;
}

@media only screen and (max-width: 700px)  {
 .Home> div{
     display: flex;
     flex-direction: column;
 }
 .Home > div > header{
    width:100%;
}
.Home > div > article{
    width:100%;
}

}

 @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  