.Home{
}
.Home > div > h1{
    margin:0;
}
.Home > div{
    display: flex;
    flex-direction: row;
}
.Home > div > h1{
    width:40vw;
    padding:5vw;
}
.Home > div > article{
    width:40vw;
    padding:5vw;
    color :#828282;
    font-family: Rasa,sans-serif;
}
.Home_el-1{
  background-color:#1b1f25;
  color: white;
}
.Home_el-2{
  color : #1b1f25;
}
.Home_el-3{
    background-color:#f7f7f7;

}

@media only screen and (max-width: 700px)  {
 .Home .Home_el{
     display: flex;
     flex-direction: column;
 }
 .Home > div > h1{
    width:100%;
}
.Home > div > article{
    width:100%;
}

}