@import url('https://fonts.googleapis.com/css?family=Lora|Roboto+Condensed:700|Rasa:400');
.App {
  font-family : Lora,"sans-serif";
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}


