@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}


