.Drawer_links ul > a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: Rasa, sans-serif;
  margin-top: 10px;
}
.Drawer_links ul > a:hover {
    background-color: #828282;
    color: #0749be;
    transition:0.5s;
}
.Drawer_logo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.burger{
    font-size: 30px;
    color:white;
}
.burger_container{
 position: absolute;
 left: 35vw;
 top:10px;
}
@media only screen and (min-width:1050px) {
    .burger_container .burger{
    display: none;
  }
}

